    <nav>
        <div class="side-bar">
          <div class="logo-top">
            <a class="nav-link" href="/">
                <img src="/Assets/images/expresume-logo.png" style="width: 50%; height: 50%;"><span class="sr-only">(current)</span>
            </a>
          </div>
          <ul class="nav-links">
            <li class="nav-tab" data-view-name="personalInfo">
              <a href="/personalinfo">
                <span>
                    <img src="/Assets/images/user-icon.png" id="icon">
                  Personal Info
                </span>
              </a>
            </li>
            <li class="nav-tab" data-view-name="journal">
              <a href="/journal">
                <span>
                    <img src="/Assets/images/journal-icon.png" id="icon">
                  Journal
                </span>
              </a>
            </li>
            <li class="nav-tab" data-view-name="kanbanBoard">
              <a href="/kanban">
                <span>
                    <img src="/Assets/images/kanban-icon.png" id="icon">
                  Kanban Board
                </span>
              </a>
            </li>
            <li class="nav-tab" data-view-name="resume">
                <a href="/resume">
                  <span>
                    <img src="/Assets/images/resume-icon.png" id="icon">
                    Resume
                  </span>
                </a>
              </li>
              <li class="nav-tab" data-view-name="login">
                <a href="/login">
                  <span>
                    Login/Register
                  </span>
                </a>
              </li>
          </ul>
        </div>
        <div class="nav-login-icon">    
          <img src="/Assets/images/headerLogin.png" style="height: 50px;">
        </div>
    </nav>
