/*Navigation*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

#icon {
    width: 10%;
    height: 10%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 17rem;
  min-height: 100%;
  background-color: #fff;
}

.side-bar ul {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

.side-bar ul li {
  margin: 1% 0;
  padding: 7%;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.side-bar ul li a {
  text-decoration: none;
  color: #000;
}

.side-bar ul li:hover {
  background-color: #2451FF;
}

.side-bar ul li:hover a {
    color: #fff;
  }

.side-bar ul li.active {
    background-color: #2451FF;
  }
  
  .side-bar ul li.active a {
    color: #fff;
  }

.logo-top {
  text-align: left;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  min-height: 100vh;
  margin-left: 17rem;
  padding: 2rem;
  width: 100%;
}

.main-content .personalInfo,
.main-content .journal,
.main-content .kanbanBoard,
.main-content .resume,
.main-content .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
}

/*Homepage*/
body {
    height: 100%;
    overflow-y: hidden;
  }
  @media (min-width: 54em) {
    .slides-nav {
      right: 2%;
    }
  }
  #logo {
    width: 30%;
    height: 30%;
  }
  #home_button {
    padding: 10px 20px;
    margin-left: 5%;
    border-radius: 12px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: #000 1px 0 10px;
    display: inline-block;
    font-size: 20px;
    background-color: #2451FF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #home_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .slide {
    z-index: -1;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: z-index 1s ease;
  }
  .slide__content {
    position: relative;
    margin: 0 auto;
    height: 90%;
    width: 90%;
    top: 2%;
  }
  @media (min-width: 54em) {
    .slide__content {
      height: 90%;
      width: 90%;
      top: 3%;
    }
  }
  .slide__header {
    z-index: 9;
    position: relative;
    height: 130%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transform: translateX(5%);
  }
  @media (min-width: 54em) {
    .slide__header {
      transform: translateX(-5%);
    }
  }
  .slide__title {
    font-family: Montserrat, helvetica;
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    overflow-y: hidden;
    text-align: center;
  }
  @media (min-width: 54em) {
    .slide__title {
      font-size: 3em;
      text-indent: 10%;
      text-shadow: #000 1px 0 10px;
    }
  }
  .slide__figure {
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .slide__img {
    position: relative;
    display: block;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 0%;
    width: 100%;
    filter: grayscale(0%);
    transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1), filter 0.4s 0.1s ease;
  }
  .is-active .slide__img {
    height: 100%;
    opacity: 0.9;
    transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1), filter 0.4s 0.1s ease;
  }