/*Navigation*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

#icon {
    width: 10%;
    height: 10%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 17rem;
  min-height: 100%;
  background-color: #fff;
}

.side-bar ul {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

.side-bar ul li {
  margin: 1% 0;
  padding: 7%;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.side-bar ul li a {
  text-decoration: none;
  color: #000;
}

.side-bar ul li:hover {
  background-color: #2451FF;
}

.side-bar ul li:hover a {
    color: #fff;
  }

.side-bar ul li.active {
    background-color: #2451FF;
  }
  
  .side-bar ul li.active a {
    color: #fff;
  }

.logo-top {
  text-align: left;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  min-height: 100vh;
  margin-left: 17rem;
  padding: 2rem;
  width: 100%;
}

.main-content .personalInfo,
.main-content .journal,
.main-content .kanbanBoard,
.main-content .resume,
.main-content .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
}

/*Homepage*/
body {
    height: 100%;
    overflow-y: hidden;
  }
  @media (min-width: 54em) {
    .slides-nav {
      right: 2%;
    }
  }
  #logo {
    width: 30%;
    height: 30%;
  }
  #home_button {
    padding: 10px 20px;
    margin-left: 5%;
    border-radius: 12px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: #000 1px 0 10px;
    display: inline-block;
    font-size: 20px;
    background-color: #2451FF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #home_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .slide {
    z-index: -1;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: z-index 1s ease;
  }
  .slide__content {
    position: relative;
    margin: 0 auto;
    height: 90%;
    width: 90%;
    top: 2%;
  }
  @media (min-width: 54em) {
    .slide__content {
      height: 90%;
      width: 90%;
      top: 3%;
    }
  }
  .slide__header {
    z-index: 9;
    position: relative;
    height: 130%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transform: translateX(5%);
  }
  @media (min-width: 54em) {
    .slide__header {
      transform: translateX(-5%);
    }
  }
  .slide__title {
    font-family: Montserrat, helvetica;
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    overflow-y: hidden;
    text-align: center;
  }
  @media (min-width: 54em) {
    .slide__title {
      font-size: 3em;
      text-indent: 10%;
      text-shadow: #000 1px 0 10px;
    }
  }
  .slide__figure {
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .slide__img {
    position: relative;
    display: block;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 0%;
    width: 100%;
    filter: grayscale(0%);
    transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1), filter 0.4s 0.1s ease;
  }
  .is-active .slide__img {
    height: 100%;
    opacity: 0.9;
    transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1), filter 0.4s 0.1s ease;
  }

/* Welcome Dashboard Page */
  .welcome-container {
    display: inline-flex;
    margin: 30px;
    
  }
  .welcome-left-container{
    width: 50%;
    margin: 20px;
  }

  .welcome-right-container{
    width: 50%;
    margin: 20px;
  }

  .welcome-title {
    color: #2451FF;
  }

  .welcome-subtitle {
    color: #8F8C8C;
}

.welcome-nav-item{
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.welcome-nav-item:hover {
  color: white;
  background-color: #2451FF;
}

.welcome-nav-row a {
  text-decoration: none;
}

.welcome-nav-item img {
  width: auto;
  height: 25px;
}

.welcome-nav-item:hover img {
  filter: invert(100%);
}

.welcome-nav-row{
  margin: 20px;
}

.welcome-nav-row span {
  margin-right: 5px;
}  


.welcome-nav-row td{
  width: 250px;
}

.welcome-left-bottom {
  margin-top: 40px;
}

.welcome-left-bottom h3, .welcome-left-bottom p, .welcome-left-bottom a{
  margin-top: 25px;
  margin-bottom: 25px;
}

  .welcome-button {
    background-color: #2451FF;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
  }

  .welcome-button:hover{
    color: white;
  }

/*Kanban Board*/
  :root {
    --icon-options: #a4c75a;
    --icon-options-clear: #9f9f9f;
    --icon-opacity: #5972cb;
    --icon-warning: #a02f1b;
    --icon-board-full: #c5bc56;
    --icon-board-bg: #a27dc2;
    --icon-remove: #ff6347;
    --icon-urgent: #ff8800;
    --icon-new-task: #2a92bf;
    --icon-total: #777777;
    --icon-import-export: #607d8b;
    --list-working: #a8ebb7;
    --list-done: #ded591;
    --dark-color: #282828;
  }
  
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  /*** LISTS ***/
  #myLists {
    padding: 1.35% 1% 5% 1%;
    float: left;
    width: 100%;
    display: inline-table;
    /*min-height: calc(100% - 108px);*/
    margin-top: 60px;
  }
  #myLists > div {
    width: 32.3%;
    display: inline-table;
    margin: 0.5%;
    background: rgba(247 247 247 / 0.5);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px, rgba(0, 0, 0, 0.25) 0px 2px 6px;
  }
  #myLists div h3 {
    background: var(--icon-new-task);
    color: #fff;
    padding: 0.65em;
    margin-top: 0;
    font-weight: normal;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }
  #myLists #work-in h3 {
    background: var(--list-working);
  }
  #myLists #do-ne h3 {
    background: var(--list-done);
  }
  #myLists div h3:before {
    content: "\2022";
    border: 2px solid rgb(255 255 255);
    float: left;
    width: 1em;
    height: 1em;
    color: var(--icon-new-task);
    margin-right: 0.5em;
    border-radius: 2px;
    background: rgb(255 255 255);
    text-align: center;
    font-weight: bold;
    line-height: 1.1em;
  }
  #myLists #work-in h3:before {
    background: rgb(255 255 255 / 1);
    color: var(--list-working);
  }

  #myLists #do-ne h3:after {
    position: absolute;
    color: var(--list-done);
    font-size: 1.5em;
    transform: rotate(120deg);
    left: 0.5em;
    top: 0.2em;
  }
  #myLists h3 span {
    float: right;
    width: 1.5em;
    text-align: center;
    line-height: 1.7em;
    border-radius: 1px;
    font-size: 0.775em;
    margin-right: -0.25em;
    color: rgb(255 255 255 / 75%);
    font-weight: bold;
    background: #00000070;
  }
  #myLists ul {
    padding: 0;
    margin: 0.5em;
    height: calc(100% - 3.5em);
    box-sizing: border-box;
    padding-bottom: 0.6em;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  #myLists ul:after {
    margin-top: 0;
    content: "DROP TASK HERE";
    border: 2px dashed #00000040;
    padding: 1.05em 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0 0 0 / 0.35);
    display: inline-table; /*block*/
    width: 100%;
    box-sizing: border-box;
    bottom: 0.8em;
    border-radius: 2px;
    font-weight: bold;
    min-height: 0;
    flex: 1;
  }
  #myLists ul:hover:after {
    border-color: rgb(0 0 0 / 0.35);
    color: rgb(0 0 0 / 0.4);
    background: #ffffff40;
  }
  #myLists ul li {
    position: relative;
    list-style: none;
    min-height: 3.5em; /*2.35em*/
    border: 3px dashed rgb(0 0 0 / 0);
    border-radius: 2px;
    background: #ffffff;
    padding: 0.05em 1.25em 1.65em 0.5em;
    margin-bottom: 0.65em;
    color: #828282;
    cursor: grabbing;
    box-shadow: 1px 1px 2px -1px #00000087; /*1px 1px 5px 0px #ccc*/
    max-height: 10em;
    /*overflow: hidden;*/
  }
  #myLists ul li:active {
    cursor: grabbing;
    border-color: rgba(0, 0, 0, 0.15);
  }
  #myLists ul li:before {
    content: "";
    background: var(--icon-new-task);
    position: absolute;
    left: -3px;
    top: -3px;
    height: calc(100% + 2px);
    width: 4px;
    border-radius: 1px;
    border: 2px solid transparent;
  }
  #myLists #work-in ul li:before {
    background: var(--list-working);
  }
  #myLists #do-ne ul li:before {
    background: var(--list-done);
  }
  #myLists ul li:after {
    content: "";
    border-left: 2px dotted #fff;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
  }
  #myLists ul li span.txt {
    cursor: pointer;
    display: block;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 1px dotted rgba(0, 0, 0, 0);
    font-size: 0.95em;
    overflow: hidden;
    text-align: justify;
    color: #666;
    transition: color 0.4s ease 0s;
    height: 100%;
    max-height: 7.5em;
  }
  #myLists ul li span.txt:hover {
    background: #ececec;
    color: #999;
    border: 1px dotted rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    transition: color 0.4s ease 0s;
  }
  #myLists ul li span.txt:before {
    content: "EDIT";
    position: absolute;
    left: 1.25em;
    background: #49637d80;
    font-size: 0.65em;
    bottom: 0.5em;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1px;
    padding: 0.25em 0.45em;
  }
  #myLists ul li span.idTask {
    font-size: 0.7em;
    color: #fff;
    position: absolute;
    left: 6.25em;
    bottom: 5px;
    background: var(--icon-new-task);
    padding: 0 0.25em;
    border-radius: 1px;
    height: 16px;
    line-height: 16px;
  }
  #myLists #ul-working.drag-enter:after {
    background: #a8ebb7;
  }
  #myLists #ul-done.drag-enter:after {
    background: #ded591;
  }
